---
import Global from '../../../components/global.astro'
import Header from '../../../components/small-header.astro'
import ScreenreaderOnly from '../../../components/screenreader-only.astro'
import Footer from '../../../components/footer.astro'
import Credits from '../../../components/full-credits.astro'

const { content } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>Your Student Government: Meet the Cast | Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<main>
			<h1>Meet the Cast</h1>
			<section>
				<p>todo</p>
			</section>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		/* theme overrides */
		--orange: #ef6301;
		--yellow: #ffc600;

		--blue: #497199; /* #010d19 */
		--cream: #f8f2dd;

		--bright-yellow: var(--orange);
		--pale-yellow: var(--blue);
		--black: var(--cream);

		box-shadow: inset 0 0 0 10px var(--orange),
		            inset 0 0 0 20px var(--yellow);
	}

	h1
	{
		font-weight: normal;
		font-size: 4rem;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--yellow);
		text-shadow: -3px 3px 0 var(--orange);
		margin: 4rem 0;
	}

	p
	{
		text-align: center;
		font-size: 3rem;
	}
</style>
