---
import Global from '../../../components/global.astro'
import Header from '../../../components/small-header.astro'
import CastMember from '../../../components/cast-member.astro'
import Footer from '../../../components/footer.astro'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>Your Student Government: Meet the Cast | Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<main>
			<h1>Meet the Cast</h1>
			<section>
				<ul>
					<CastMember name="Tia Lunn" role="“Suzzy Reeves”" img="tia">
						Tia Lunn is a queer theatre artist and poet currently residing in Toronto,
						Ontario. She grew up in Thunder Bay, Ontario's theatre scene, performing in
						Superior Theatre Festival's 2017 season before moving to Kingston to attend
						Queen's University. During her time in Kingston, she acted in and directed
						various theatre and film projects. She also got involved in the poetry
						community, reading at events such as Bruce Kauffman's Poets @ Artfest V and
						100,000 Poets for Change 2019. In 2020, Tia participated in The Flare
						Production's staged reading/workshop series <i>The Love You Make</i> on
						YouTube.
						<br><br>
						Recently, Tia has been serving on the board of directors for SpiderWebShow
						Performance and studying acting at the George Brown College School of Media
						&amp; Performing Arts. In her spare time she enjoys lying in the snow and
						posting weird stuff on Instagram.
					</CastMember>
					<CastMember name="Rebecca Hoogkamp" role="Co-writer, “Iris Powell”" img="rebecca">
						Rebecca Hookamp studied computer science just like Iris but personally
						prefers acting by far. She is happy to have been able to both co-write and
						perform in <i>Your Student Government</i>, and she hopes to continue acting
						in great films like <i>Your Student Government</i>. Currently, Rebecca is
						off making some "real change", kind of like in that movie,
						<i>Your Student Government</i>.
					</CastMember>
					<CastMember name="Hamza Ali" role="“Benjamin Weens”" img="hamza">
						Hamza Syed Ali graduated from Queen's University with an arts degree that
						focused on Political Studies while the world was crumbling. During his
						undergrad, he dabbled in the theatrical arts, mostly acting, and never
						really stopped because the community was so heartwarming, welcoming, and
						fun. Hamza is simultaneously enamoured and terrified of attention and
						cameras. His previous Golden Boy Productions credits include roles in
						<i>Flying Disks and DVDs</i> and <i>Final Destination</i>. Hamza is
						currently involved with the Kingston Theatre Alliance as both an Executive
						and Administrative Assistant and writing intern. He might one day call
						himself an actor and/or writer.
					</CastMember>
					<CastMember name="Sam Lee" role="“Madison Spencer”" img="sam">
						Similar to her character Madison, Sam Lee spent four years in a Political
						Science Bachelor's of Arts program, and another one year in a Public
						Administration Masters, learning how to best be a government stiff. She made
						her bureaucratic dreams a reality when she was promoted to Senior Program
						Advisor for the Ministry of Municipal Affairs and Housing in 2022. After
						three years of tangible anticipation, Sam is very ready to see her
						character-insert (eventually) thrive (spoiler) in this fun and flirty film!
					</CastMember>
					<CastMember name="Cooper Levy" role="“Julian Thacker”" img="cooper">
						Cooper Levy is an actor, model, writer, and director from Toronto. From a
						young age Cooper would perform in the theatrical arts and musical theatre,
						which gave him confidence in his acting abilities. After having worked with
						Sutherland Models Inc. and Rogue Management his hunger for more work in the
						entertainment industry grew. Cooper has performed in live and online
						improvisational shows with the Kingston, Ontario based group, 6 AM
						Productions, where he created wacky caricatures to perform for big
						corporations including Amazon, Google, Coca-Cola, Lego, Ubisoft, McDonald's
						and many others. Attending Queen's University's COCA program, Cooper
						graduated with a degree in Computer Science with a specialization in Music,
						and ever since he has been hooked to the process of editing and sound
						design. His writing and directing debut <i>BABA</i> (September 2021) is what
						has sparked his drive to pursue filmmaking more professionally alongside his
						childhood best-friend, Cole Walderman. Cooper took acting classes with
						Armstrong Acting Studios, and seeks modelling work internationally.
					</CastMember>
					<CastMember name="Jake O'Brien" role="“Gunther Trost”" img="jake">
						Jake O'Brien is a Toronto-born filmmaker and graduate of Queen's
						University's Film and Media program. While majoring in Film Studies and
						minoring in Drama, he contributed to various film and theatre productions as
						an actor and as an assistant stage manager. Jake currently resides in
						Vancouver, working as a Production Coordinator at Industrial Light and Magic.
					</CastMember>

					
					<CastMember name="Jacob Dey" role="Co-writer, “Peter Sullivan”">
						Laser-lens-focused on the "silly" side of life, Jacob "Wacky" Dey writes and
						performs in absurd comedies for the stage (<i>Ted's Apiary</i>,
						<i>Nuclear Family</i>) and screen (over 15 Golden Boy Productions short
						films!). "I love you!" - Jacob Dey.
					</CastMember>
					<CastMember name="Eric Rodomar" role="“Brock”">
						Eric Rodomar is an actor and director from Ottawa, currently based in
						Toronto. His background in acting stems from a love for the stage that began
						as a child and has led him to pursue a second degree in Acting for Media at
						George Brown college. Eric enjoys character work and exploring how
						performance for stage and screen can be made to prioritize both
						entertainment and accessibility to audiences of all ages. As he chases his
						dream of a career in voice acting, Eric will continue to create art in its
						various forms (including more Golden Boys, of course!) with his very dear
						friends and colleagues.
					</CastMember>
					<CastMember name="Derek Manderson" role="“Gordon”">
						Derek is an actor and writer based in Toronto, where he toils away at his
						PhD. Researching the intersection of games and theatre, he loves exploring
						audience agency in all forms. He has worked recently on developing a
						performance-based RPG called Learn/Roll/Play and has joined Toasterlab in
						experimenting with volumetric capturing for augmented reality. Catch him on
						Golden Boy Productions in several videos comprised of the takes he didn't
						ruin by laughing with some brilliant friends who continue to inspire him.
					</CastMember>
					<CastMember name="Gavin Hugh" role="“Bromingo”">
						Despite graduating with an Engineering degree from Queen's University, Gavin
						has always gotten a kick out of performing for others. During his studies,
						he began his performing career singing in Queen's very own all-male a
						cappella group, All the Queen's Men. With the influence of his fellow choir
						mates who had done a lot of theatre, Gavin found his way to the stage in an
						attempt to try something new. He grew to love the craft while acting in the
						lead role for two student-led productions with the Imaginary Theatre
						Company. Now working in Japan as an English teacher, Gavin hopes to carry on
						his passion in the voice acting industry.
					</CastMember>
					<CastMember name="Keady Morgan" role="“Monarch's Weekly Journalist”">
						Keady is a lover of all things arts who is currently based in British
						Columbia. Thanks to her years at Queen's University, she has dabbled in many
						areas of theatre including acting, directing, writing, stage managing,
						filmmaking, as well as makeup/costume design and construction. Although
						pursuing schooling for environmental sciences, she remains involved in the
						local art scene. Keady was ecstatic when she was approached to be a part of
						Your Student Government and immediately accepted. The dedication and passion
						of this project shines through in every aspect. She has been so enthralled
						with the process of making this film and could not have asked for a better
						experience, team, or script. In her down time she enjoys recreating the
						sound of her cat's meows. She wholeheartedly believes he is her biological
						son.
					</CastMember>
					<CastMember name="Iain Um" role="“Moderator Gerald Herald”">
						Iain Um is an actor from Aurora, Ontario who has appeared onstage in roles
						such as Ren McCormack in Footloose, Nathan Detroit in Guys &amp; Dolls, and
						Javert in Les Misérables. He has also appeared in various shorts from Golden
						Boy Productions, with Your Student Government being his first feature film
						role. When he's not acting, Iain puts his degree to use by working as a high
						school math and physics teacher. He also enjoys playing JRPGs, grand
						strategy games, and tabletop games of all kinds.
					</CastMember>
					<CastMember name="Lilac Toh" role="Composer">
						Lilac Toh is a musician and teacher from Toronto, Ontario. She is a graduate
						of Queen's University's Music and Education programs. During her time in
						Kingston, she was involved in musical theatre and ensemble groups as a
						director and performer. Some of her musical credits include writing for the
						Ontario Music Educators' Association and composing the soundtrack for Pages,
						Queen's first entirely student-written show which broke records for ticket
						sales at the Isabel Bader Studio Theatre. Lilac is currently teaching music
						and the dramatic arts, pursuing a Master's in Education, and learning to
						share her art with the world.
					</CastMember>
					<CastMember name="Max Kingsley" role="Music Producer and Performer">
						Max Kingsley is a musician with an ear for film scoring and production. He
						is passionate about the entire music making process and is proficient with
						guitar, piano, and trumpet. In addition to performing the score for Your
						Student Government, Max has previously composed music for Golden Boy
						Productions, specifically for the classic short Secret Jazz Club. He is
						currently studying physics at Queen's University and has been a member of
						Queen's Bands' marching band since he first began his degree. In his spare
						time, Max loves watching movies, rock climbing, patching modular
						synthesizers and playing blues guitar.
					</CastMember>
					<CastMember name="Steph Fung" role="First Assistant Director">
						Stephanie Fung is an interdisciplinary artist and arts worker from
						Tkaronto/Toronto who is fascinated by the concept of convention and how we
						contest culture. They are leading a team of emerging theatre critics as the
						Editor of the Kingston Theatre Alliance and co-facilitator of the Toronto
						Fringe Festival's New Young Reviewers program. Recent artistic credits
						include: Write From the Hip (Nightwood Theatre); The Makers &amp; Shakers
						Society (Radioland Media); Collider (Single Thread Theatre Company); The
						Intangible Queer (YIKES a Theatre Company); In This World (Theatre Count);
						paper SERIES (5th Company Lane); and Concord Floral (Theatre Kingston).
					</CastMember>
					<CastMember name="Darby Huk" role="First Assistant Director">
						Darby Huk is an artist and writer from Mississauga, Ontario. She recently
						obtained her MA from Queen's University, where she studied video games, the
						reflexive nature of play, and the complicity that comes with being part of a
						narrative. Currently based out of Kingston, her paintings have been featured
						in multiple exhibitions, and her creative writing projects are almost ready
						for the eyes of others. Darby continues to advocate for more time to play,
						more time for hobbies, and more kindness at all times.
					</CastMember>
					<CastMember name="Sam Sosnowski" role="First Assistant Director">
						Sam is one of the assistant directors-est with the mostest, who loves to
						learn with talented people around her. She tackled many creative challenges
						during the production of Your Student Government, including erasing
						whiteboard marker without smudging, testing how long a person can live
						without blood flowing to their arms, and most importantly, finding the best
						bribe snacks for extras. Now working as a training coordinator at Framestore,
						she hopes creative challenges will never become not fun - because that would
						be lame. Alsa, she's pretty funny, at least for, like, a regular normal
						person.
					</CastMember>
					<CastMember name="Abbey Playford" role="Second Assistant Director">
						Abbey Playford is a writer and filmmaker from Brooklin, Ontario. As a 2020
						graduate of Queen's University's Media and Performance Production program,
						she now pursues office production assistant positions on television series.
						Some including; The Queen's Gambit (2020) and Five Days at Memorial (2022).
					</CastMember>

					
					<CastMember name="" role="And featuring...">
						John A. Geddes as "Stanislav Reeves",
						Paul Smithas "Rector Hector Montgomery",
						Caroline Williams as "Adelaide",
						Rob Bruce as "Professor Cecil Fenton",
						Genny Landis as "Stella Reeves",
						and Bennett Penner as "Leonard",
						with makeup by Sydney Erin Kowal
						and post-production sound by John Sanfillipo.
					</CastMember>
					<CastMember name="David Vassos" role="Director, Co-writer, Cinematographer, Editor, “Camera Boy Cameron”">
						David is a Toronto-born and based filmmaker who makes films full of funny
						jolkes for friendly folkes. He is the head honcho at Golden Boy Productions,
						which serves as a platform for his films, some of which have been featured
						at festivals like the Kingston Canadian Film Festival and Insomniac Film
						Festival. He currently works in the magical world of VFX coordination.
						Previously, David studied Post-Production at Humber College as well as
						Computing and Film in Queen's University's COCA program. When he's not
						making films, David is probably cooking, playing Super Smash Bros, or
						running around in a big open field.
					</CastMember>
					<CastMember name="Nathan Yee" role="Producer, Co-writer, “Ezra the Elated”">
						Nathan Yee is a filmmaker. He makes films that no one watches.
					</CastMember>
				</ul>
			</section>
			<section>
				<a class="primary-cta" href="/features/your-student-government">
					<span>Back to film page</span>
				</a>
			</section>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		/* theme overrides */
		--orange: #ef6301;
		--yellow: #ffc600;

		--blue: #497199;
		--cream: #f8f2dd;

		--bright-yellow: var(--orange);
		--pale-yellow: var(--blue);
		--black: var(--cream);

		box-shadow: inset 0 0 0 10px var(--orange),
		            inset 0 0 0 20px var(--yellow);
	}

	h1
	{
		font-weight: normal;
		font-size: 4rem;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--yellow);
		text-shadow: -3px 3px 0 var(--orange);
		margin: 4rem 0;
		padding: 0 30px;
	}

	ul
	{
		list-style: none;
		padding: 30px;
		max-width: 1400px;
		margin: 0 auto 60px;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: 40px 20px;
	}

	a.primary-cta
	{
		display: block;
		margin: auto;
		max-width: 30ch;
		text-align: center;
		outline: none;
	}

	a.primary-cta span
	{
		display: block;
		margin: auto;
		max-width: 20ch;
		text-align: center;

		font-size: 1.3rem;
		color: var(--yellow);
		background: var(--blue);
		border: 2px solid var(--yellow);
		border-radius: 100px;
		padding: 1em 2ch;

		box-shadow: 0 0 0 0px var(--blue),
		            0 0 0 0px var(--orange);

		transition: color 0.2s ease,
		            box-shadow 0.3s ease-in-out,
		            transform 0.3s ease-in-out;
	}

	a.primary-cta:hover span, a.primary-cta:focus span
	{
		color: var(--cream);
		transform: scale(0.9);
		box-shadow: 0 0 0 6px var(--blue),
		            0 0 0 8px var(--orange);

		transition: color 0.15s ease,
		            box-shadow 0.25s ease-out,
		            transform 0.25s ease-out;
	}
</style>
