---
import Global from '../../../components/global.astro'
import Header from '../../../components/small-header.astro'
import CastMember from '../../../components/cast-member.astro'
import Footer from '../../../components/footer.astro'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>Your Student Government: Meet the Cast | Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<main>
			<h1>Meet the Cast</h1>
			<section>
				<ul>
					<CastMember name="Tia Lunn" role="“Suzzy Reeves”" img="tia">
						(no bio yet)
					</CastMember>
					<CastMember name="Rebecca Hoogkamp" role="Co-writer, “Iris Powell”" img="rebecca">
						(no bio yet)
					</CastMember>
					<CastMember name="Hamza Ali" role="“Benjamin Weens”" img="hamza">
						(no bio yet)
					</CastMember>
					<CastMember name="Sam Lee" role="“Madison Spencer”" img="sam">
						(no bio yet)
					</CastMember>
					<CastMember name="Cooper Levy" role="“Julian Thacker”" img="cooper">
						Cooper Levy is an actor, model, writer, and director from Toronto. From a young
						age Cooper would perform in the theatrical arts and musical theatre, which gave
						him confidence in his acting abilities. After having worked with Sutherland
						Models Inc. and Rogue Management his hunger for more work in the entertainment
						industry grew. Cooper has performed in live and online improvisational shows
						with the Kingston, Ontario based group, 6 AM Productions, where he created wacky
						caricatures to perform for big corporations including Amazon, Google, Coca-Cola,
						Lego, Ubisoft, McDonald's and many others. Attending Queen's University's COCA
						program, Cooper graduated with a degree in Computer Science with a specialization
						in Music, and ever since he has been hooked to the process of editing and sound
						design. His writing and directing debut of BABA (September 2021) is what has
						sparked his drive to pursue acting, as well as writing and directing more 
						professionally alongside his childhood best-friend, Cole Walderman. Cooper took
						acting classes with Armstrong Acting Studios, and seeks modelling work internationally.
					</CastMember>
					<CastMember name="Jake O'Brien" role="“Gunther Trost”" img="jake">
						Jake O'Brien is a Toronto-born filmmaker and graduate of Queen's University's
						Film and Media program. While majoring in Film Studies and minoring in Drama,
						he contributed to various film and theatre productions as an actor and as an
						assistant stage manager. Jake currently resides in Vancouver, working as a
						Production Coordinator at Industrial Light and Magic.
					</CastMember>
				</ul>
			</section>
			<section>
				<a class="primary-cta" href="/features/your-student-government">
					<span>Back to film page</span>
				</a>
			</section>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		/* theme overrides */
		--orange: #ef6301;
		--yellow: #ffc600;

		--blue: #497199;
		--cream: #f8f2dd;

		--bright-yellow: var(--orange);
		--pale-yellow: var(--blue);
		--black: var(--cream);

		box-shadow: inset 0 0 0 10px var(--orange),
		            inset 0 0 0 20px var(--yellow);
	}

	h1
	{
		font-weight: normal;
		font-size: 4rem;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--yellow);
		text-shadow: -3px 3px 0 var(--orange);
		margin: 4rem 0;
		padding: 0 30px;
	}

	ul
	{
		list-style: none;
		padding: 30px;
		max-width: 1400px;
		margin: 0 auto 60px;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 20px;
	}

	a.primary-cta
	{
		display: block;
		margin: auto;
		max-width: 30ch;
		text-align: center;
		outline: none;
	}

	a.primary-cta span
	{
		display: block;
		margin: auto;
		max-width: 20ch;
		text-align: center;

		font-size: 1.3rem;
		color: var(--yellow);
		background: var(--blue);
		border: 2px solid var(--yellow);
		border-radius: 100px;
		padding: 1em 2ch;

		box-shadow: 0 0 0 0px var(--blue),
		            0 0 0 0px var(--orange);

		transition: color 0.2s ease,
		            box-shadow 0.3s ease-in-out,
		            transform 0.3s ease-in-out;
	}

	a.primary-cta:hover span, a.primary-cta:focus span
	{
		color: var(--cream);
		transform: scale(0.9);
		box-shadow: 0 0 0 6px var(--blue),
		            0 0 0 8px var(--orange);

		transition: color 0.15s ease,
		            box-shadow 0.25s ease-out,
		            transform 0.25s ease-out;
	}
</style>
