---
import Global from '../../../components/global.astro'
import Header from '../../../components/small-header.astro'
import ScreenreaderOnly from '../../../components/screenreader-only.astro'
import Footer from '../../../components/footer.astro'
import Credits from '../../../components/full-credits.astro'

const { content } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>Your Student Government: Meet the Cast | Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<main>
			<h1>Meet the Cast</h1>
			<section>
				<p>todo</p>
			</section>
			<a class="primary-cta" href="/features/your-student-government">
				<span>Back to film page</span>
			</a>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		/* theme overrides */
		--orange: #ef6301;
		--yellow: #ffc600;

		--blue: #497199; /* #010d19 */
		--cream: #f8f2dd;

		--bright-yellow: var(--orange);
		--pale-yellow: var(--blue);
		--black: var(--cream);

		box-shadow: inset 0 0 0 10px var(--orange),
		            inset 0 0 0 20px var(--yellow);
	}

	h1
	{
		font-weight: normal;
		font-size: 4rem;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--yellow);
		text-shadow: -3px 3px 0 var(--orange);
		margin: 4rem 0;
	}

	p
	{
		text-align: center;
		font-size: 3rem;
	}

	a.primary-cta
	{
		display: block;
		margin: auto;
		max-width: 30ch;
		text-align: center;
		outline: none;
	}

	a.primary-cta span
	{
		display: block;
		margin: auto;
		max-width: 20ch;
		text-align: center;

		font-size: 1.3rem;
		color: var(--yellow);
		background: var(--blue);
		border: 2px solid var(--yellow);
		border-radius: 100px;
		padding: 1em 2ch;

		box-shadow: 0 0 0 0px var(--blue),
		            0 0 0 0px var(--orange);

		transition: color 0.2s ease,
		            box-shadow 0.3s ease-in-out,
		            transform 0.3s ease-in-out;
	}

	a.primary-cta:hover span, a.primary-cta:focus span
	{
		color: var(--cream);
		transform: scale(0.9);
		box-shadow: 0 0 0 6px var(--blue),
		            0 0 0 8px var(--orange);

		transition: color 0.15s ease,
		            box-shadow 0.25s ease-out,
		            transform 0.25s ease-out;
	}
</style>
