---
import DefaultLayout from '../layouts/default-layout.astro'
import { Markdown } from 'astro/components';
---
<DefaultLayout title="Contact">
	<h1>
		Get in touch
	</h1>
	<p>
		Send fan mail and love letters to
		<a href="mailto:david@goldenboyproductions.ca" class="email">
			contact@goldenboyproductions.ca
		</a>
	</p>
	<h2>
		Find us elsewhere
	</h2>
	<ul>
		<li>
			<a href="https://www.youtube.com/c/GoldenBoyProductions/">
				<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" aria-label="Youtube">
					<path d="M22.5 6.4a2.8 2.8 0 0 0-1.9-2C18.9 4 12 4 12 4s-6.9 0-8.6.5a2.8 2.8 0 0 0-2 2 29 29 0 0 0-.4 5.3 29 29 0 0 0 .5 5.3A2.8 2.8 0 0 0 3.4 19c1.7.5 8.6.5 8.6.5s6.9 0 8.6-.5a2.8 2.8 0 0 0 2-2 29 29 0 0 0 .4-5.3 29 29 0 0 0-.5-5.3z"/>
					<path d="m9.8 15 5.7-3.2-5.7-3.3V15z"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/GoldenBoyProds">
				<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" aria-label="Twitter">
					<path d="M23 3a11 11 0 0 1-3 2 4 4 0 0 0-8 3v1a11 11 0 0 1-9-5s-4 9 5 13a12 12 0 0 1-7 2c9 5 20 0 20-11a5 5 0 0 0 0-1 8 8 0 0 0 2-4z"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/GoldenBoyProds/">
				<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" aria-label="Instagram">
					<rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
					<path d="M16 11a4 4 0 1 1-3-3 4 4 0 0 1 3 3zm2-4h0"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/GoldenBoyProds">
				<svg xmlns="http://www.w3.org/2000/svg" width="55" height="60" viewBox="0 0 24 24" aria-label="Facebook">
					<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
				</svg>
			</a>
		</li>
	</ul>
</DefaultLayout>

<style>
	a.email
	{
		display: block;
		font-size: 3rem;
		max-width: 24ch;
		max-width: max-content;
		background: linear-gradient(var(--bright-yellow), var(--bright-yellow));
		background-size: 100% 0.2em;
		background-repeat: no-repeat;
		background-position: bottom;
		transition: background-size 0.1s ease-out;
	}

	a.email:hover, a.email:focus
	{
		background-size: 100% 0.7em;
	}

	h2
	{
		font-size: 2rem;
		font-weight: normal;
		margin-top: 5rem;
	}

	ul
	{
		list-style: none;
		padding: 30px 0;
		display: flex;
		flex-direction: row;
		gap: 30px;
		align-items: center;
	}

	ul a svg
	{
		fill: none;
		stroke: var(--black);
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 1px;
		transition: transform 0.1s ease;
	}

	ul a:hover svg
	{
		fill: var(--bright-yellow);
		transform: scale(1.1);
	}

	@media screen and (max-width: 560px)
	{
		:global(main)
		{
			text-align: center;
		}

		p
		{
			font-size: 1.3rem;
		}

		a.email
		{
			margin: auto;
			font-size: 4vw;
		}

		ul
		{
			justify-content: center;
		}

		ul a svg
		{
			width: 30px;
			height: 30px;
			stroke-width: 2px;
		}
	}
</style>