---
import Global from '../components/global.astro'
import Header from '../components/header.astro'
import Hero from '../components/hero.astro'
import Poster from '../components/poster.astro'
import Footer from '../components/footer.astro'

const films = Astro.fetchContent('../**.md');
const newestFirst = (a, b) => new Date(b.released).valueOf() - new Date(a.released).valueOf()
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<Hero/>
		<!-- Page Fold -->
		<div id="recents">
			<div>
				<h2>Recent Productions</h2>
				<p>Films and shorts</p>
				<!-- Arrow -->
				<svg xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 272 57" width="272" height="57">
					<g fill="none" stroke="var(--black)" stroke-width="2">
						<path d="m0 269.75v-269.75" transform="matrix(0 1 -1 0 269.75 38.75)"/>
						<path d="m253.75 54.75 16-16" stroke-linecap="square"/>
						<path d="m253.75 22.75 16 16" stroke-linecap="square"/>
						<path d="m1 39v-39"/>
					</g>
				</svg>
			</div>
			{
				films.sort(newestFirst).slice(0, 5).map((film) => <Poster of={film}/>)
			}
		</div>
		<a class="cta more" href="/films">
			...More
		</a>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		max-width: 1440px;
		margin: auto;
		position: relative;
	}

	#recents h2
	{
		margin-bottom: 80px;
	}

	#recents svg
	{
		margin: 20px 0 0 10px;
	}

	#recents
	{
		margin: -40px 80px 0;
		display: grid;
		grid-template-columns: 300px repeat(auto-fit, minmax(165px, 1fr));
		grid-template-rows: auto 0px;
		gap: 10px;
		overflow: hidden;
		padding-right: 40px;
	}

	a.more.cta
	{
		color: var(--black);
		background: var(--white);
		border: solid 2px var(--black);
		transition: none;

		min-width: 100px;
		position: absolute;
		right: 100px;
		transform: translateY(-100px);
	}

	a.more.cta:hover, a.more.cta:focus
	{
		background: var(--black);
		color: var(--bright-yellow);
		transform: translateY(-100px);
	}

	@media screen and (max-width: 950px)
	{
		#recents
		{
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: auto auto 0px;
			margin: -40px 25px 0;
			padding: 0;
		}

		#recents svg
		{
			display: none;
		}

		#recents div
		{
			grid-column: 1 / -1;
			position: relative;
		}

		#recents h2
		{
			font-size: 2.8rem;
			margin: 40px 1rem 30px 0;
			width: 15rem;
			display: inline-block;
		}

		#recents p
		{
			display: inline-block;
			position: absolute;
			right: 0;
			bottom: 30px;
			margin: 0;
			line-height: 1.3;
		}

		a.more.cta
		{
			width: 50%;
			max-width: 500px;
			margin: 30px auto;
			position: relative;
			right: unset;
			transform: none
		}

		a.more.cta:hover, a.more.cta:focus
		{
			transform: none
		}
	}

	@media screen and (max-width: 690px)
	{
		#recents
		{
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media screen and (max-width: 430px)
	{
		#recents p
		{
			display: none;
		}

		a.more.cta
		{
			width: 90%;
		}
	}
</style>