---
import Logo from '../components/logo.astro'
---
<footer>
	<section class="logo">
		<Logo/>
		<p>Golden Boy Productions</p>
	</section>
	<section class="links">
		<ul>
			<li><a href="/about">About Us</a></li>
			<li><a href="/films">All Films</a></li>
			<li><a href="/contact">Get In Touch</a></li>
			<li><a href="/sitemap.xml">Sitemap</a></li>
		</ul>
		<ul>
			<li>
				<a 
					href="https://www.youtube.com/c/GoldenBoyProductions/about"
					target="_blank" rel="noopener"
					aria-label="Youtube page (opens in a new tab)"
				>
					Youtube
				</a>
			</li>
			<li>
				<a 
					href="https://www.instagram.com/GoldenBoyProds/"
					target="_blank"
					rel="noopener"
					aria-label="Instagram page (opens in a new tab)"
				>
					Instagram
				</a>
			</li>
			<li>
				<a 
					href="https://twitter.com/GoldenBoyProds"
					target="_blank"
					rel="noopener"
					aria-label="Twitter page (opens in a new tab)"
				>
					Twitter
				</a>
			</li>
			<li>
				<a 
					href="https://www.facebook.com/GoldenBoyProds"
					target="_blank"
					rel="noopener"
					aria-label="Facebook page (opens in a new tab)"
				>
					Facebook
				</a>
			</li>
		</ul>
	</section>
	<section class="legal">
		<p>&copy; Golden Boy Productions, 2022</p>
		<p>Website by <a href="https://goodbyte.ca">Goodbyte</a></p>
	</section>
</footer>

<style>
	footer
	{
		/* border-top: 2px solid var(--black); */
		margin-top: 100px;
		padding: 60px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	section.logo
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
		flex-grow: 1;
	}

	section.logo :global(img)
	{
		width: 100px;
	}

	section.logo p
	{
		font-family: var(--roboto-extremo);
		font-size: 2rem;
		letter-spacing: 0;
		line-height: 1.3;
		margin: 0;
		max-width: 15ch;
		text-transform: uppercase;
	}

	section.links
	{
		display: flex;
		flex-direction: row;
	}

	section.links ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 20px;
		min-width: 200px;
	}

	section.links a
	{
		display: inline-block;
		font-size: 1.4rem;
		line-height: 1.5;
		transition: transform 0.2s ease;
	}

	section.links a::after
	{
		content: "";
		display: block;
		background: var(--bright-yellow);
		width: 0%;
		height: 16px;
		transform: translateY(-16px);
		z-index: -1;
		position: relative;
		transition: all 0.2s ease;
	}

	section.links a:hover, section.links a:focus
	{
		transform: translateY(-5px);
		outline: none;
	}

	section.links a:hover::after, section.links a:focus::after
	{
		width: 100%;
		transform: translateY(-10px);
	}

	section.legal
	{
		padding: 60px 0 0;
		width: 100%;
		box-sizing: border-box;
	}
	
	section.legal p
	{
		font-family: var(--roboto-extremo);
		font-size: 1rem;
		line-height: 1.5;
		letter-spacing: 0.1em;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}

	section.legal a
	{
		background-image: linear-gradient(var(--bright-yellow), var(--bright-yellow));
		background-size: 100% 0.6em;
		background-position: left bottom;
		background-repeat: no-repeat;
	}

	@media screen and (max-width: 950px)
	{
		footer, section.logo
		{
			flex-direction: column;
			align-items: center;
		}

		footer
		{
			margin-top: 80px;
			padding: 30px;
			gap: 60px;
		}

		section.logo :global(img)
		{
			width: 80px;
		}

		section.logo p
		{
			text-align: center;
		}

		section.links
		{
			gap: 60px;
		}

		section.links ul
		{
			min-width: 0px;
		}

		section.links a
		{
			font-size: 1.6rem;
		}

		section.legal
		{
			padding: 30px;
		}
	}
</style>