<a href="/">
	<!-- TODO: use avif + picture -->
	<img src="/icon.png" alt="Golden Boy logo"/>
</a>

<style>
	img
	{
		border-radius: 100%;
	}

	a
	{
		outline: none;
		text-decoration: none;
	}


	a:focus img
	{
		box-shadow: 0 0 0 2px var(--black);
	}
</style>