<a href="/" aria-label="Home page">
	<picture>
		<source type="image/avif" srcset="/assets/logo.avif"/>
		<source type="image/webp" srcset="/assets/logo.webp"/>
		<img src="/assets/logo.png" alt="Golden Boy logo"/>
	</picture>
</a>

<style>
	img
	{
		border-radius: 100%;
	}

	a
	{
		outline: none;
		text-decoration: none;
	}


	a:focus img
	{
		box-shadow: 0 0 0 2px var(--black);
	}
</style>