---
import Global from '../components/global.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

const { title } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>{title} | Golden Boy Productions</title>
		<meta property="og:title" content={title}/>
		<meta name="twitter:title" content={title}/>
		<meta property="og:description" content="films full of funny jolkes for friendly folkes."/>
		<meta name="twitter:description" content="films full of funny jolkes for friendly folkes."/>
		<meta property="og:type" content="website"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta property="og:image" content="https://goldenboyproductions.ca/assets/social.png"/>
		<meta name="twitter:image" content="https://goldenboyproductions.ca/assets/social.png"/>
		<meta property="og:image:alt" content="Golden Boy Productions' logo, a hand-drawn cartoon character in a yellow circle"/>
		<meta name="twitter:image:alt" content="Golden Boy Productions' logo, a hand-drawn cartoon character in a yellow circle"/>
		<meta property="og:image:width" content="900"/>
		<meta property="og:image:height" content="478"/>
	</head>
	<body>
		<Header/>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		max-width: 1440px;
	}

	main
	{
		background: var(--white);
		border: 2px solid var(--black);

		box-sizing: border-box;
		width: 76vw;
		max-width: 1095px;
		margin: auto;
		padding: 10px 60px 30px;

		position: relative;
		z-index: 1;
	}

	:global(h1)
	{
		font-size: 4rem;
		letter-spacing: -0.03em;
		margin: 50px 0;
	}

	:global(p)
	{
		font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
		font-size: 2rem;
		line-height: 1.6;
		letter-spacing: 0;
		word-spacing: 0;
		text-transform: none;
	}

	@media screen and (max-width: 760px)
	{
		main
		{
			width: auto;
			margin: 10px 10px;
			padding: 10px 30px;
		}
	}
</style>